<style>
  .images-list{

  }

    .images-list .images-list-item{
        text-align: center;
        width:  calc(25% - 30px);
        float:  left;
        margin: 0 10px 10px 0;
    }

      .images-list .images-list-header{
         clear: both;
         padding:    10px;
         background-color: rgba(0, 0, 0, 0.9);
         color:      white;
         border-radius: 4px;
         font-size:     24px;
         margin-top: 30px;
         margin-bottom: 30px;
         font-family: 'Poiret One', cursive;
      }

      .images-list .images-list-item img{
        display: block;
        width: 100%;
      }

        .images-list .images-list-item.last{
          clear: both;
        }

</style>

  <div class='panel panel-default'>
    <div class="panel-heading">
       <h3 class="panel-title">
         <i class='fa fa-image'></i>
         Add a new Image
       </h3>
     </div>
     <div class="panel-body">

        <form class='form-inline' method='POST' enctype="multipart/form-data">
          <div class='form-group'>
            <label for='upload_file'>Image:</label> &nbsp;
            <input id='upload_file' type='file' name='file' class='form-control'>
          </div>

          &nbsp;&nbsp;&nbsp;

          <div class='form-group'>
            <label for='upload_gallery'>Gallery:</label> &nbsp;
            <select id='gallery' class="form-control" name="galeria">
              <% @galleries.each do | k , v | %>
                <option value=<%= k %> ><%= v %></option>
              <% end %>
            </select>
          </div>

          &nbsp;&nbsp;&nbsp;

          <button type='submit' class='btn btn-primary'>
            <i class='fa fa-image'></i>
            Add
          </button>
        </form>

     </div>
  </div>

<div class='panel panel-default'>
  <div class="panel-heading">
     <h3 class="panel-title">
       <i class='fa fa-image'></i>
       Uploaded Images
     </h3>
   </div>
   <div class="panel-body">

       <div class='images-list'>
       <% count = 0 %>
       <% last_gallery = nil %>
       <% @images.each_with_index do | image , i | %>

         <% if last_gallery != image.galeria %>
         <div class="images-list-header">
           <%= @galleries[ image.galeria ]  %>
           <% count = 0 %>
         </div>
         <% end %>

         <% if count%4 == 0 && count != 0%>
           <div class="images-list-item last">
         <% end %>

         <% if count%4 != 0 || count == 0 %>
           <div class="images-list-item">
         <% end %>
           <img src="<%= image.image.url %>" class='thumbnail'  />
           <a href="/admin/uploads/delete/images/<%= image.id %>" class="btn btn-block btn-danger">
             <i class='fa fa-trash'></i>
             Delete Image
           </a>
         </div>

         <% count += 1 %>

         <% last_gallery = image.galeria %>

       <% end %>
       </div>

   </div>
</div>
