<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del Cliente</h3>
  </div>
  <div class="panel-body">
    <% @leads.each do | lead |  %>
    <h4>Nombre:<%= lead.name %></h4>
    <h4>Email:<%= lead.email %></h4>
    <h4>Servicio:<%= lead.servicio %></h4>
    <h4>Mensaje:<%= lead.mesagge %></h4>
    <h4>Fecha del post:<%= lead.created_at %></h4>
    <h4>Estatus:<%= lead.status %></h4>
    <% end %>
  </div>
</div>
